<div class="panel panel-info text-center">
  <div class="panel-heading">
      <h3 ><span class="fa fa-twitter"></span> Twitter</h3>
  </div>
  <div class="panel-body">
      <div ng-show="user.twitter.token">
          <strong>id</strong>: {{ user.twitter.id }} <br>
          <!-- <strong>token</strong>:  {{user.twitter.token}} <br> -->
          <strong>username</strong>: {{user.twitter.username}} <br>
          <strong>name</strong>:  {{user.twitter.displayName}} <br>
      </div>

      <a ng-show="user.twitter.token" href="/unlink/twitter" class="btn btn-info">Unlink</a>

      <a ng-hide="user.twitter.token" href="/connect/twitter" class="btn btn-info">Connect Twitter</a>

      <!-- <a ng-show="user.twitter.token" ng-click="getFb()" class="btn btn-primary">Get Data</a> -->



  </div>
</div>
